/* mat-toolbar{
  opacity: 0.;
} */
mat-icon span{
  margin-top: 20px;
}
mat-button-toggle{
    margin-right: 4rem;
}
mat-sidenav-container{
    height: 100%;
}
mat-sidenav , mat-sidenav-content{
    padding: 1rem;
}
mat-sidenav {
    background-color: lightcoral;
    width: 200px;
    color: #000;
}
.but{
  margin: 1rem;
}
.mat-form-field + .mat-form-field{
  margin-left: 10px;
}
.panel .mat-expansion-panel-header-title,
.panel .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.panel .mat-expansion-panel-header-description{
  justify-content: space-between;
  align-items: center;
}
.bar{
    justify-content: space-between;
    position: sticky;
}
span{
    margin-right: 1rem;
}
.sep{
  color: yellowgreen;
  width: 33%;
}
.bridge{
  /* padding: 5px; */
  margin: 5px;
}
.dis{
  display: none;
}