<mat-toolbar color="accent" class="bar">
  <div>
    <mat-icon><span class="log"><img  src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" ></span></mat-icon>
    Angular
  </div> 
  <div>
    <span>CLI</span>
    <span>Docs</span>
    <span>Icon</span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #side (opened)="loge('opened')" (closed)="loge('closed')" [(opened)]="opened"  mode="side">projects</mat-sidenav>
  <mat-sidenav-content>
    Main Content
    <button mat-flat-button color="primary" class="but" (click)="side.toggle()">toggle</button>
    <button mat-flat-button color="accent" class="but" (click)="opened = !opened">release</button>
    <button mat-flat-button color="accent" class="but" *ngIf="!opened" (click)="side.open()"><mat-icon>toggle_on</mat-icon></button>
    <button mat-flat-button color="warn" class="but" *ngIf="opened" (click)="side.close()"><mat-icon>toggle_off</mat-icon></button>
    <div >
      <button mat-flat-button class="bridge" (click)="accordion.openAll()">Expand All Panels</button>
      <button mat-flat-button class="bridge" (click)="accordion.closeAll()">collapse All Panels</button>

    </div>
    <mat-accordion  class="panel" hideToggle multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Angular Course</mat-panel-title>
          <mat-panel-description>Duration : 8 hours</mat-panel-description>
          <mat-icon><img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" ></mat-icon>

        </mat-expansion-panel-header>
        <p>If You Want To Join The Click the Button Below</p>
        <mat-action-row>
          <button mat-button color="accent">JOIN</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Personal Details</mat-panel-title>
          <mat-panel-description>Please Enter</mat-panel-description>
          <mat-icon>account_circle</mat-icon>

        </mat-expansion-panel-header>
        <form class="row">
          <div class="col">
            <mat-form-field  appearance="outline">
             <mat-label>First name</mat-label>
             <input color="warn" matInput>
            </mat-form-field>

            <mat-form-field  appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput>
             </mat-form-field>
      
          </div>
          <div class="col">
            <mat-form-field  appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput type="number" min="1">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="sep" appearance="fill">
              <mat-label>Address </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field  appearance="fil">
              <mat-label>Phone</mat-label>
              <input type="number" matInput>
             </mat-form-field>
             <mat-form-field  appearance="fill">
              <mat-label>State , City</mat-label>
              <input matInput>
             </mat-form-field>
          </div>
        
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Install Process</mat-panel-title>
          <mat-panel-description>Open The Panel By Click</mat-panel-description>
          <mat-icon>file_download</mat-icon>
        </mat-expansion-panel-header>
        <p>If You Want To Join The Click the Button Below</p>
        <mat-action-row>
          <button mat-flat-button type="button" data-toggle="modal" data-target="#Modal" color="accent">JOIN</button>
          <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >  <h1>Install Angular</h1>                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
  
  <h3>Incredible tooling</h3>
  <p>Build features quickly with simple, declarative templates. Extend the template language with
    your own components and use a wide array of existing components. Get immediate Angular-specific
    help and feedback with nearly every IDE and editor. All this comes together so you can focus
    on building amazing apps rather than trying to make the code work.</p>

    <h3>What is Angular?</h3>

    <p>Angular is a platform that makes it easy to build applications with the web. Angular
      combines declarative templates, dependency injection, end to end tooling, and integrated
      best practices to solve development challenges. Angular empowers developers to build
      applications that live on the web, mobile, or the desktop</p>
  
  <h3>Architecture overview</h3>

  <p>Angular is a platform and framework for building client applications in HTML and TypeScript.
    Angular is itself written in TypeScript. It implements core and optional functionality as a
    set of TypeScript libraries that you import into your apps.</p>
  
  <p>The basic building blocks of an Angular application are NgModules, which provide a compilation
    context for components. NgModules collect related code into functional sets; an Angular app is
    defined by a set of NgModules. An app always has at least a root module that enables
    bootstrapping, and typically has many more feature modules.</p>
  
  <p>Components define views, which are sets of screen elements that Angular can choose among and
    modify according to your program logic and data. Every app has at least a root component.</p>
  
  <p>Components use services, which provide specific functionality not directly related to views.
    Service providers can be injected into components as dependencies, making your code modular,
    reusable, and efficient.</p>
  
  <p>Both components and services are simply classes, with decorators that mark their type and
    provide metadata that tells Angular how to use them.</p>
  
  <p>The metadata for a component class associates it with a template that defines a view. A
    template combines ordinary HTML with Angular directives and binding markup that allow Angular
    to modify the HTML before rendering it for display.</p>
  
  <p>The metadata for a service class provides the information Angular needs to make it available
    to components through Dependency Injection (DI).</p>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary">Install</button>
                </div>
              </div>
            </div>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-list>
      <div mat-subheader>Folders</div>
      <mat-list-item *ngFor="let folder of folders" >
        <mat-icon mat-list-icon>info</mat-icon>
        <div mat-line>{{folder.name}}</div>
        <div mat-line> {{folder.updated | date}} </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-spinner *ngIf="showRunner" color="warn"></mat-spinner>
  <button mat-flat-button color="accent" (click)="load()">load api</button>


  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <div>
    <mat-icon>info</mat-icon>
    <mat-icon>dark_mode</mat-icon>
    <mat-icon color="primary">settings</mat-icon>
     <mat-icon color="accent">update</mat-icon>
    <mat-icon>api</mat-icon>
  </div>
  <div>
    <button color="warn" mat-button matBadgeOverlap="false"  (click)="action()" [matBadgeHidden]="hidden" matBadgeSize="large" matBadgeColor="accent" [matBadge]="note">What'sApp</button>
  </div>

  <mat-progress-spinner value="90"></mat-progress-spinner> -->
  
